{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>I'm Nadav Schneider, a 10th grade student from Tichonet high school in Tel Aviv, Israel. This website is dedicated to comparing places by how afftected they are by climate change, and how freqeunt are Tsunamis in said places. <br />
   <br />
    This project was made as the final 10th Grade project in the Data Science class. In said project, I have used Python, Flask, CSS, Bootstrap and Pandas in order to analyze and dissect several datasets in order to understand current world problems.</p>
<table style="width:100%">
    <tr>
        <th><img src="https://static.wixstatic.com/media/a75e05_b198684763604cb5a9fc940ab3f17da4.jpg" width="300" height="300" /></th>
        <th><img src="https://miro.medium.com/max/1080/1*_oSOImPmBFeKj8vqE4FCkQ.jpeg" width="300" height="300" /></th>
        <th><img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/46941709/original/d5ace87ba59d0d4e5151668e60e8eaf673153ff7/build-api-in-python-flask.jpg" width="300" height="300" /></th>
    </tr>
</table>


    {% endblock %}
