{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>



<address>
    Shoshana Persits St 3<br />
    Tel Aviv-Yafo, Israel 6937802<br />
    <abbr title="Phone">P:</abbr>
    03-623-6500
</address>

<img src="https://glz.co.il/media/21902/whatsapp-image-2019-11-26-at-155730.jpeg" width="400" height="300" >
<br/>
<br/>
<address>
    <strong>My mail for support:</strong>   <a href="mailto:nadav.schneider10@gmail.com">Nadav Schneider</a><br />
</address>

{% endblock %}
